Source: sv-rollout
Section: admin
Priority: optional
Maintainer: Stack Team <stack-team@shopify.com>
Build-Depends: debhelper (>= 8.0.0), go
Standards-Version: 3.9.4
Homepage: https://github.com/Shopify/sv-rollout
Vcs-Git: git://github.com/Shopify/sv-rollout.git
Vcs-Browser: https://github.com/Shopify/sv-rollout

Package: sv-rollout
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: restart multiple runit services concurrently and safely
  sv-rollout is used to restart multiple runit services concurrently, a
  configurable ratio of them to time out, with configurable concurrency, and
  optionally "canaries", which are restarted before the rest of the services.

