#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

export GOPATH=$(CURDIR)/Godeps/_workspace

BINNAME=$(shell basename $(CURDIR))

PKGDIR=debian/sv-rollout

%:
	dh $@ 

clean:
	dh_clean
	rm -rf $(GOPATH)/bin/* $(GOPATH)/pkg/*
	rm -f $(GOPATH)/goinstall.log

binary-arch: clean
	dh_prep
	dh_installdirs
	go build -o $(BINNAME) .
	mkdir -p $(PKGDIR)/usr/bin
	cp $(BINNAME) $(PKGDIR)/usr/bin/
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch

