#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

export GOPATH=$(CURDIR)/Godeps/_workspace

BINNAME=$(shell basename $(CURDIR))

PKGDIR=debian/$(BINNAME)

%:
	dh $@ 

clean:
	dh_clean
	rm -rf $(GOPATH)/bin/* $(GOPATH)/pkg/*
	rm -f $(GOPATH)/goinstall.log

binary-arch: clean
	dh_prep
	dh_installdirs
	mkdir -p $(PKGDIR)/usr/bin
	cp $(BINNAME) $(PKGDIR)/usr/bin/
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch

override_dh_auto_build:
	go build -o $(BINNAME) .

override_dh_auto_test:
	go test ./...
